# URL of the Mongo DB
MONGODB_URL=ASK_ADMIN

# Next Auth secret
# to generate new https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=GENERATE_NEW

# Next Auth Url (optional for local development)
# NEXTAUTH_URL=YOUR_DOMAIN

# AZURE OpenAI
AZURE_OPENAI_API_KEY=ASK_ADMIN
AZURE_OPENAI_BASE_PATH=ASK_ADMIN
AZURE_OPENAI_API_VERSION=ASK_ADMIN
AZURE_OPENAI_API_INSTANCE_NAME=ASK_ADMIN
AZURE_OPENAI_API_EMBEDDINGS_DEPLOYMENT_NAME=ASK_ADMIN
AZURE_OPENAI_LOCATION=ASK_ADMIN



